* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", serif;
}

.nav-bar {
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #0c0d0d;
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-bar:hover {
  background-color: rgb(233, 200, 67);
}

.logo img {
  display: flex;
  cursor: pointer;
  width: 100px;
  margin-right: 20px;
}

.search {
  display: flex;
  flex: 1;
}

.search input {
  display: flex;
  padding: 10px;
  width: 600px;
  font-weight: 500;
  font-size: 16px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  color: #0c0d0d;
}
.search button {
  display: flex;
  align-items: center;
  background-color: #0a0a0b;
  font-weight: 500;
  font-size: 16px;
  color: rgb(233, 200, 67);
  width: 80px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
}
.search button:hover {
  background-color: rgb(236, 236, 236);
}

.search img {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.hypertext {
  margin-right: 50px;
}

.hypertext a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding-left: 10px;
}
.hypertext a:hover {
  color: black;
  font-size: 30px;
}
.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.icon img {
  margin-right: 30px;
}
.icon a:hover {
  height: 90px;
}
.hero {
  background-color: #0a0a0b;
  margin-top: 100px;
}
.hero img {
  margin-bottom: 15px;
  border-radius: 20px;
  width: 100%;
}
.heading {
  text-align: center;
  font-size: larger;
  font-size: 40px;
  color: white;
}

.heading:hover {
  background-color: rgb(233, 200, 67);
}

.hero img:hover {
  border: 5px solid rgb(233, 200, 67);
}

.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 30px;
  background-color: rgb(9, 2, 2);
}

.card {
  display: block;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;

  border-radius: 10px;
  background-color: black;
}

.item1_1 img {
  height: 200px;
  width: 200px;
  padding: 10px;
  flex: 1;
  border: 1px solid rgb(246, 242, 242);
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  background-color: aliceblue;
}

.item1_1 img:hover {
  height: 350px;
  width: 350px;
}

.item1_2 h3 {
  margin: 10px;
  text-align: center;
  align-items: center;
  color: aliceblue;
}

.item1_3 h5 {
  margin: 10px;
  text-align: center;
  align-items: center;
  color: aliceblue;
}
.item1_4 button {
  width: 240px;
  font-weight: 800;
  text-align: center;
  align-items: center;
  cursor: pointer;
  padding: 5px;
  border-radius: 25px;
  background-color: rgb(233, 200, 67);
}
.item1_4 button:hover {
  background-color: darkorange;
  width: 260px;
}
section {
  display: flex;
  justify-content: space-evenly;
  background-color: #0a0a0b;
  margin: 10px;
  padding: 20px;
  color: white;
  line-height: 25px;
  margin-bottom: 0px;
}

footer {
  background-color: rgb(233, 200, 67);
  width: 100%;
  padding: 7px;
}

footer h5 {
  text-align: center;
}

section ul {
  list-style: none;
}

section ul li {
  text-decoration: none;
  color: rgb(233, 200, 67);
}
